// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif


html
	font-size: 62.5%
body
	min-width: 320px 
	font-family: Arial, sans-serif
	font-size: 3rem
	line-height: 1.5
	+norm
	color: $text 
	+r($md)
		font-size: 2rem
	+r($xs)
		font-size: 1.6rem
a
	text-decoration: none 
	
// common blocks

.container-fluid,
.container
	max-width: 1255px 
.text-right
	text-align: right
.text-center
	text-align: center
.col-xxs-12
	+r($xxs)
		width: 100%
.header
	position: relative
	width: 100% 
	height: 54rem
	overflow: hidden
	+r(1380)
		height: 100vh 
	+rh(414)
		height: 40rem
	&__in
		position: absolute
		z-index: 1
		padding: 3.5rem 0 0
		top: 0
		right: 0
		left: 0
		bottom: 0
		+cover
		&.with-cover
			&:before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				background: rgba($text,.21) 
				z-index: 2
	
	&__top
		+clr
		width: 100%
		padding: 0 5rem 
		+r($sm)
			padding: 0 2rem 
	&__left
		float: left
	
	&__right
		float: right
		position: relative
		z-index: 2
		+r($xxs)
			display: none
	&__bottom
		position: absolute
		margin-bottom: 2rem
		bottom: 0
		left: 0
		right: 0
		z-index: 2
		text-align: center
		+r($md)
			margin-bottom: 5rem
		
	&__title
		text-align: center
		font-size: 7.2rem
		color: #FFF 
		+conbold
		line-height: 1.2
		text-transform: uppercase
		margin: 0 auto 3rem
		max-width: 92.5rem 
		+r($md)
			font-size: 6rem
		+r($sm)
			max-width: wh
			margin: 0 2rem 3rem
			font-size: 4.5rem 
		+r($xs)
			font-size: 3.5rem
		+r($xxs)
			font-size: 2.5rem 
	&__subtitle
		color: $text
		margin-top: 0.5rem
		+bold
		font-size: 2.5rem  
		+r($xxs)
			font-size: 1.8rem
		&.is-white
			color: #FFF 
.logo
	display: block 
	i
		display: block
		height: 6.6rem 
		width: 16rem  
		background-size:  16rem 6.6rem
		background-image: url(../img/logo.png)
		+r($sm)
			background-size: 12rem 4.6rem
			width: 12rem
			height: 4.6rem 

.btn
	display: inline-block
	padding: .7rem 3rem
	font-size: 2.4rem
	line-height: 1
	background: $btn 
	+med
	color: #FFF
	border: 1px solid $border
	+rounded
	text-transform: capitalize 
	transition: background, border, .2s  
	+r($sm)
		font-size: 2.2rem
	+r($xs)
		font-size: 1.8rem 
	&:hover
		background: darken($btn, 5%)
		border-color: darken($border, 10%)  
	&:active
		background: lighten($btn, 5%) 
	&_big
		font-size: 2.7rem 
		padding: 1.1rem 5.8rem
		+r($sm)
			font-size: 2.5rem
		+r($xs)
			font-size: 2rem
		+r($xxs)
			font-size: 1.8rem
			padding: 1rem 4rem
.section
	background: $bg
	padding: 3.5rem 0 4.5rem
	+r($sm)
		padding: 2.5rem 3rem
	&_white
		background: #fff 
		padding: 7.8rem 0 6.5rem
		+r($sm)
			padding: 5rem 4rem
		+r($xs)
			padding: 3.5rem 3rem

.center-box
	text-align: center
	max-width: 95.2rem 
	margin: 0 auto 
	+r($md)
		max-width: 76.8rem 
.title
	margin-bottom: 1.2rem
	font-size: 4rem
	+bold
	text-transform: uppercase
	color: $text 
	line-height: 1.3
	+r($md)
		font-size: 3rem
	+r($xs)
		font-size: 2rem
	&_second
		text-transform: none 
	&_undrln
		text-transform: none 
		span
			border-bottom: 2px solid $text
	&_small
		margin-top: 1rem
		font-size: 2.5rem
		text-transform: none 
	&_big
		color: #FFF
		+conbold
		font-size: 6rem  
	&_large
		font-size: 6rem
		+conbold
.subtitle
	text-transform: uppercase
	font-size: 4rem
	+light
	+r($md)
		font-size: 3rem
	+r($sm)
		font-size: 2.5rem
	+r($xs)
		font-size: 2rem
	span
		position: relative
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			margin-top: -0.1rem
			height: 0.2rem
			width: 5.4rem 
			position: absolute
			background: $text
		&:before
			left: -7.2rem
		&:after
			right: -7.2rem
			+r($xxs)
				right: -10rem
.item
	width: 100%
	text-align: center
	+r($xxs)
		margin-top: 5rem
	&__img
		display: inline-block
		position: relative
		width: 100%
		height: 29rem
		overflow: hidden
		+vertical
		+r($md)
			height: 22rem
		+r($sm)
			height: 29rem
		+r($xs)
			height: 24rem
		+r($xxs)
			height: auto
		img
			max-width: 100% 
			display: inline-block
			vertical-align: bottom
	&__title
		text-align: center
		font-size: 2.4rem
		+norm
		color: $text
		border-bottom: 1px solid transparent
		line-height: 1
		transition: border .2s 
		+r($xs)
			font-size: 2rem
		&:hover
			border-color: $text
	&_second
		margin-top: 6rem 

.text
	margin-bottom: 4.5rem 
	+r($sm)
		margin-bottom: 3rem
	+r($xs)
		margin-bottom: 2rem
.post
	width: 100%
	margin-top: 4.5rem
	text-align: center
	+r($xs)
		margin-top: 2.5rem 
	i
		color: $main 
		vertical-align: bottom
	.icon-shoe
		font-size: 17.6rem
		+r($md)
			font-size: 14rem
		+r($xs)
			font-size: 10rem
	.icon-bag
		font-size: 22rem
		+r($md)
			font-size: 17rem
		+r($xs)
			font-size: 14rem
	&__img
		margin-bottom: 4.3rem 
		+vertical
		min-height: 22rem 
		max-width: 100% 
		line-height: 1
		+r($md)
			min-height: 17rem
		+r($sm)
			min-height: auto
			margin-bottom: 2.5rem
		
	&__icon
		height: 19.7rem
		+r($sm)
			height: 15rem
		+r($xxs)
			height: 13rem
		img
			max-height: 100%
			width: auto
			max-width: 100% 
		&.with-dollar
			position: relative
			&:before
				content: "$"
				font-size: 12.7rem
				color: #006df0
				+norm
				position: absolute
				top: 50%
				left: 0
				right: 0
				margin-top: -6.4rem
				+r($sm)
					font-size: 10rem
					margin-top: -5rem
				+r($xxs)
					font-size: 8rem
					margin-top: -4rem
	&__in
		display: inline-block
		vertical-align: bottom
	&__price
		font-size: 6rem
		opacity: 0.5
		text-decoration: line-through 
		+norm
		+r($md)
			font-size: 4rem
		+r($xs)
			font-size: 2rem
	&__disc
		color: $main
		font-size: 13.6rem
		+conbold
		vertical-align: middle
		+r($md)
			font-size: 10rem
		+r($xs)
			font-size: 8rem
		&:after
			content: $icon-down-arrow
			+icon 
			font-size: 9.3rem
			margin-left: -3.5rem
			display: inline-block
			vertical-align: middle
			+r($md)
				font-size: 7.3rem
				margin-left: -3.5rem
			+r($xs)
				font-size: 5.3rem
				margin-left: -2rem 
	&__name
		font-size: 3rem
		line-height: 1.3
		display: inline-block
		text-align: center
		+bold
		margin-bottom: 1rem
		span
			border-bottom: 2px solid rgba($text,.7)
		+r($sm)
			font-size: 2rem
		+r($xs)
			font-size: 1.8rem
		 
	.text
		text-align: center
		+r($sm)
			max-width: 52rem
			margin: 0 auto 	
.banner
	min-height: 43.8rem 
	width: 100%
	overflow: hidden
	position: relative
	+vertical
	+r($sm)
		min-height: 30rem 
	&__in
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		+cover
		overflow: hidden
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			background: rgba($text,.21) 
			z-index: 2
	
	&__center
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: 9rem 0 
		+vertical
		z-index: 2 
	&__center-in
		max-width: 79.5rem 
		display: inline-block
		vertical-align: middle
		+r($md)
			max-width: 60rem 
			padding: 0 1rem 
	&__plus
		position: absolute
		left: 1.3rem
		bottom: 5rem
		+r($sm)
			display: none
		&.is-right
			left: auto
			right: 1.3rem
		img
			+r(1200)
				height: 20rem
			+r($md)
				height: 15rem
	&__plus-name
		margin-top: 3rem
		font-size: 1.7rem 
		color: $text
		+norm
		letter-spacing: 1px
	&_second
		.banner__in
			background: #E1E1E1 
			&:before
				display: none
		.banner__center-in
			+r(1400)
				max-width: 59.5rem 
			+r(1200)
				max-width: 45.5rem 
.footer
	background: #222223 
	padding: 1.9rem 0 2.9rem
	text-align: center 
	position: relative
.btn-help
	display: block
	position: absolute
	bottom: 1.8rem
	right: 1rem
	height: 5.1rem
	width: 5.1rem  
	background: $main-light
	+vertical
	border-radius: 50%
	font-size: 0
	transition: background .2s
	&:hover
		background: $main 
	i
		vertical-align: middle
		font-size: 2.3rem
		color: #fff  
.list
	line-height: 1
	font-size: 0
	margin-bottom: 2.5rem
	&__item
		display: inline-block
		padding: 0 .8rem 
		a
			color: #FFF
			display: inline-block
			vertical-align: middle
			font-size: 1.3rem
			+norm
			transition: color .2s
			&:hover
				color: $main-light
			&:active
				color: $main 
		span
			display: inline-block
			vertical-align: middle
		i
			vertical-align: middle

		&:after
			content: ""
			height: 0.4rem
			width: 0.4rem
			margin-left: .8rem
			border-radius: 50%
			background: #FFF 
			display: inline-block
			vertical-align: middle
			
		&:last-child
			&:after
				display: none
.tel
	color: #fff
	font-size: 1.3rem
	+norm
	margin-bottom: 1.8rem
	a
		color: $main
		transition: color .2s
		&:hover
			color: $main-light
		&:active
			color: #fff 
.copyright
	font-size: 1.3rem
	color: #fff
	opacity: .2 
			 
		



