$main: #006df0
$btn: #00a651
$text: #282828
$border: #0dd76f
$bg: #f4f4f4
$main-light: #5490E5 
$lg: 1200
$md: 992
$sm: 768
$xs: 630
$xxs: 480

=rounded
	border-radius: .6rem
=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	
+font(helveticaneuecyr-bold,helveticaneuecyr-bold)
+font(helveticaneuecyr-light,helveticaneuecyr-light)
+font(helveticaneuecyr-medium,helveticaneuecyr-medium)
+font(helveticaneue-roman,helveticaneue-roman)
+font(HelveticaNeue-CondensedBold, HelveticaNeue-CondensedBold)

=norm
	font-family: 'helveticaneue-roman', Arial, sans-serif
=light
	font-family: 'helveticaneuecyr-light', Arial, sans-serif
=med
	font-family: 'helveticaneuecyr-medium', Arial, sans-serif
=bold
	font-family: 'helveticaneuecyr-bold', Arial, sans-serif
=conbold
	font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif 
	
    