@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-bag: "\EA01"
$icon-fb: "\EA02"
$icon-help: "\EA03"
$icon-instagram: "\EA04"
$icon-shoe: "\EA05"
$icon-tw: "\EA06"
$icon-logo: "\EA07"
$icon-down-arrow: "\EA08"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-bag:before
	content: $icon-bag
.icon-fb:before
	content: $icon-fb
.icon-help:before
	content: $icon-help
.icon-instagram:before
	content: $icon-instagram
.icon-shoe:before
	content: $icon-shoe
.icon-tw:before
	content: $icon-tw
.icon-logo:before
	content: $icon-logo
.icon-down-arrow:before
	content: $icon-down-arrow