<header class="header" >
	<div class="header__in" style="background-image: url(img/banner.png)">
		<div class="container-fluid">
			<div class="row">
				<div class="header__top">
					<div class="header__left">
						<a href="#" class="logo">
							<i class="i-logo"></i>
						</a>
					</div>
					<div class="header__right">
						<a href="#" class="btn">Join Now</a>
					</div>
					<div class="header__bottom">
						<div class="header__title">
							SUMMER LOOKS JUST FOR YOU join us & START SHOPPING
						</div>
						<a href="#" class=" btn btn_big">
							Join Now
						</a>
						<div class="header__subtitle">
							It only takes a few seconds!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>